<style>
         
            #thirdDiv {width: 500px; height: 600px;}
            #thirdDiv {background-color: brown;} 
            #spanId {font-size: 18px;}
            #spanId {margin: 50px;}
            #thirdDiv {padding: 50px;}
            #thirdDiv {border: 50px; color: blueviolet;}
            body {background-image: url("https://images.app.goo.gl/veuUQKx3hJfvknCq5")}
            body {text-align: center;}
            .divClass {text-align: center;}
        </style>